/* 
SELECTORES

Son patrones qe permiten seleccionar y aplicar estilos específicos a elementos de una página web.

Tipos de selectores

1. Selectores básicos
 -Selector Universal
 -Selectores de tipo
 
 2. Selectores de Clase

 Seleccionan los elementos que tienen una clase especifica.

 Se usa la notación de punto (.) antes del nombre de la clase
 
 
 .nombreclase {
  propiedad: valor;
  } -->

<!-- Emmet SC main>section>h2-->

 3. Selectores de ID

 Sleccionan un elemento único con un indetificador específico.

 Se usa el la 'notación' de numeral (#) antes del nombre del id
 
 #nombreId {
   propiedad: valor;
  }

 4. Selectores combinados 
  -Decendientes

  Seleccionan elementos dentro de otros elementos

  elemento elementointerno {
  Propiedad: valor;
  }



  -Hijo directo

  Selecciona elementos que son hijos directos de un padre.

  elemento padre > ElementosHijos {
 Propiedad: valor;
}
  -Elemento adyaciente

  Selecciona el primer elemento inmediatamente depués de otro. (su hermano inmediato o en inglés siblings)

  elemento + elemento adjacente {
   propiedad: valores;
   }
  -Hermano general
  Selecciona todos los elementos hermanos, después de un elemento

  elemento ~ elementohermano {
  propiedad: valor;
}
  
  5. Selectores de Aributos 
   -Atributo

   Selecciona elementos según el atributo que indiquemos. Sin importar su valor

   elemento [atributo] {
    propiedad: valor;
}

   -Atributo-Valor

   Selecciona elementos según el atributo y rl valor que indiquemos.

   elemento[atributo=valor] {
   propiedad: valor;
}
   
   6.Selectores avanzados
    -Pseudo-Clases

    Seleccionamos elementos en un estado en particular

    elemento:pesudoclase {
    propiedad:valor;
}

    -Pseudo-elementos

    Seleccionan  partes específicas de n elemento en html

    elemento::pesudoelemento {
    propiedad: valor;
}
    
    */

    /* 
    Selectores básicos 
    
    */

    /* Universal -> Seleccionar todos los elementos de un documento */

    *{
      /* border: 2px solid red; */
      margin: 0;
      padding: 0;
      box-sizing: border-box;
     }

     body {
      color: darkblue;
     }
     p{font-size: 24px;}
     header {background-color: lightgreen;}

     /*  Selector de clase*/

 .content{
  background-color:gold;
  padding: 48px;
 }

 .hero{
background-color: cadetblue;
padding: 24px;
 }

 .hero-title {
background-color:coral;
padding: 16px;
  color:blanchedalmond;
  text-align: center;
 }

/* Selector de Id */

#About-title {
  color: chocolate;
  font-size: 90px;
}

/* Combinado - Elementos descendientes */

aside section {
background-color: cyan;
padding: 50px;
}

.aside-section h3 {
  color:black;
  text-align: right;
  padding: 30px;
background-color: greenyellow; 
  ;}

  /* Combinadoas hijos directos */

  ul > li {
    background-color: hotpink;
  }

  .lista > li {
    font-size: 45px;
    color: #ffffff;
  }

  /* Combinados - Elemento adyacente */

  h3 + ul {
    list-style: none;
  }

  .puchinguito + li {
    color: red;
  }

  /* Combinados - Hermano general */

  .puchinguito + li ~ li {
    background-color: dodgerblue;
  }

  .tercero ~ li {
    color: black;
    font-size: 40px;
  }

  /* Selector de atributo */

  a[href]{
    display: block;
    text-decoration: none;
    color: magenta;
  }

  /* Selector de atributo con valor */
  a[href="https://www.instagram.com"] {
    font-size: 48px;
    color: wheat;
  }

  /* Pesudo clases */

a:hover {
background-color: purple;
color: white;
}

a:focus {
  border: 10px solid red;
}

a::after{
  content: "🔥";
}

a::before {
  content: "este es un enlace hacia: ";
}